body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#projectList th{
  color: blue;
  text-align: center;
}

#projectList td {
  text-align: center  ;
}

#projectList tr {
  padding: 0.5rem ;
}

button {
  background-color: blue;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover,
button:focus {
  background-color: rgb(99, 99, 255);
}

.form-group.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.details strong{
  font-size: 1rem;
  color: blue;
}